@charset "utf-8"
@import "../node_modules/bulma/bulma.sass"

html
  overflow-y: auto

#root
  height: calc(100vh - 3.25rem) // 100vh - fixed top menu

// Home
.home
  height: 100%

  .column
    display: flex
    align-items: center

// Playlists
.playlists
  align-content: space-around
  //flex-wrap: wrap

.user
  min-width: 400px

.playlist-name
  text-align: center

.playlist-item
  min-width: 250px

  .media-content
    overflow: hidden

// User
.user-infos
  display: flex
  justify-content: space-between